#top{
  background-color:#1a2e42;
  color:white;
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  text-align:center;
  height:100px;
  z-index:20;
  
}
#menu-btn{
  position:absolute;
  margin-left:25px;
  top:20px;
  font-size:40px;
  width:60px;
  height:60px;
}
#menu-btn:hover{
  color:#ababab;
  background-color:red;
  cursor:pointer;
}
#menu-title{
  position:absolute;
  margin-left:50%;
  transform: translate(-50%);
  top:25px;
}